<div class="row">
    <h4 class="">Informações Básicas</h4>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_razao_social">Razão Social</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_razao_social" ng-model="cliente.tx_razao_social">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_cnpj_cliente">CNPJ</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_cnpj_cliente" ng-model="cliente.nr_cnpj_cliente" maxlength="15">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_inscricao_estadual">Inscrição Estadual</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_inscricao_estadual" ng-model="cliente.nr_inscricao_estadual">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_inscricao_municipal">Inscrição Municipal</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_inscricao_municipal" ng-model="cliente.nr_inscricao_municipal">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_fantasia">Nome Fantasia</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_fantasia" ng-model="cliente.tx_nome_fantasia">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_contato">Nome do Contato</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_contato" ng-model="cliente.tx_nome_contato">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_email_comercial">E-mail Comercial</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_email_comercial" ng-model="cliente.tx_email_comercial">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_telefone">Número de Telefone</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_telefone" ng-model="cliente.nr_telefone">
        </div>
    </div>
</div>

<hr>