<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap ">
        <label>Linhas por página
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="espacoPageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <div class="form-group right-important">
        <a ng-href="/#/cadastros/incluir-clientes" class="btn btn-primary"> <!--ng-click="addUser()"-->
            Incluir novo Cliente
        </a>
    </div>
    <table class="table" st-table="smartTableData">
        <thead>
        <tr class="sortable ">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="firstName">Nome do cliente</th>
            <th st-sort="lastName">Nome Fantasia</th>
            <th st-sort="username">E-mail Comercial</th>
            <th st-sort="email">CNPJ</th>
            <th st-sort="age">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in clienteTableData">
            <td class="table-id">{{$index}}</td>
            <td>{{item.tx_nome_contato}}</td>
            <td>{{item.tx_nome_fantasia}}</td>
            <td>{{item.tx_email_comercial}}</td>
            <td>{{item.nr_cnpj_cliente}}</td>
            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" ng-click="editarCliente(item.id_clientes)">
                        Editar
                    </button>
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="deletarCliente(item.id_clientes)">
                        Apagar
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="tamanhoPagEspacoTabela" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>