<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap ">
        <label>Linhas por página
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="espacoPageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <div class="form-group right-important">
        <a ng-href="/#/cadastros/incluir-espacos" class="btn btn-primary"> <!--ng-click="addUser()"-->
            Incluir novo Espaço
        </a>
    </div>
    <table class="table" st-table="smartTableData">
        <thead>
        <tr class="sortable ">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="firstName">Nome do condomínio</th>
            <th st-sort="lastName">Responsável do Condomínio</th>
            <th st-sort="username">Nome do Responsável</th>
            <th st-sort="email">Status</th>
            <th st-sort="age">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in espacoTable">
            <td class="table-id">{{$index}}</td>
            <td>{{item.tx_nome_condominio}}</td>
            <td>{{item.tx_contato_condominio}}</td>
            <td>{{item.tx_nome_completo}}</td>
            <td><a class="email-link" ng-href="mailto:{{item.status_espaco}}">{{item.status_espaco}}</a></td>
            <td>
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="editarEspaco(item.id_espacos)">
                    Editar
                </button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="deletarEspaco(item.id_espacos)">
                    Apagar
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="tamanhoPagEspacoTabela" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>