<div class="row">
    <div class="col-sm-6">
        <div class="input-demo radio-demo row">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="status_espaco" ng-model="espaco.status_espaco"
                               value="Disponivel">
                        <span>Espaço Disponível</span>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="status_espaco" ng-model="espaco.status_espaco"
                               value="Negociação">
                        <span>Espaço em Negociação</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_condominio">Nome do Condomínio</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_condominio" ng-model="espaco.tx_nome_condominio">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="qtd_vagas_condominio">Quantidade de Vagas (Estacionamento)</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="qtd_vagas_condominio" ng-model="espaco.qtd_vagas_condominio" maxlength="11">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_regras_condominio">Regras do Condominio</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_regras_condominio" ng-model="espaco.tx_regras_condominio">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_contato_condominio">Contato do Condominio</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="tx_contato_condominio" ng-model="espaco.tx_contato_condominio">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="hr_inicio_funcionamento">Hora Inicial de Funcionamento</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="hr_inicio_funcionamento" ng-model="espaco.hr_inicio_funcionamento">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="hr_fim_funcionamento">Hora Final de Funcionamento</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="hr_fim_funcionamento" ng-model="espaco.hr_fim_funcionamento">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_administradora">Nome da Administradora</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_administradora" ng-model="espaco.tx_nome_administradora">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_contato_administradora">Contato da Administradora</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_contato_administradora" ng-model="espaco.tx_contato_administradora">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_unidade">Número da unidade</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_unidade" ng-model="espaco.nr_unidade">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_espaco">Nome do Espaço</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_espaco" ng-model="espaco.tx_nome_espaco">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="">Enviar Foto</label>
            <input type="file" ngf-select ng-model="espaco.picFile" name="file"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile">
        </div>
    </div>
</div>

<div class="row">
    <h4 class="">Endereço</h4>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_cep">CEP</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="tx_cep" ng-model="enderecoCompleto.tx_cep" ng-blur="buscarEndereco(enderecoCompleto.tx_cep)">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputUf">Selecione o Estado</label>
            <span style="color: red;">*</span>
            <select class="form-control" title="Selecione o Estado" id="inputUf" name="inputUf" ng-model="enderecoCompleto.sg_uf"
                    ng-change="retornaCidadedes(enderecoCompleto.sg_uf)">
                <option ng-repeat="estado in uf" value="{{estado.sg_uf}}">{{estado.tx_nome_uf}}</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_localidade">Cidade</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="tx_localidade" ng-model="enderecoCompleto.tx_localidade">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_numero">Numero</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="nr_numero" ng-model="enderecoCompleto.nr_numero">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="logradouro" ng-model="enderecoCompleto.tx_logradouro">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" ng-model="enderecoCompleto.tx_complemento">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="bairro" ng-model="enderecoCompleto.tx_bairro">
        </div>
    </div>
</div>