<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_nome_completo">Nome Completo do Responsável</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="tx_nome_completo" ng-model="espaco.tx_nome_completo">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_tel_resp">Telefone</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_tel_resp" ng-model="espaco.nr_tel_resp" maxlength="11">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="nr_cpf">CPF</label>
            <span style="color: red;">*</span>
            <input type="text" class="form-control" id="nr_cpf" ng-model="espaco.nr_cpf">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_cargo_resp">Cargo</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="tx_cargo_resp" ng-model="espaco.tx_cargo_resp">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_email_comercial_resp">E-mail</label>
            <span style="color: red;">*</span>
            <input type="tel" class="form-control" id="tx_email_comercial_resp" ng-model="espaco.tx_email_comercial_resp">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tx_desc_ativ_resp">Descrição das Atividades</label>
            <span style="color: red;">*</span>
                <textarea class="form-control" id="tx_desc_ativ_resp" ng-model="espaco.tx_desc_ativ_resp"></textarea>
        </div>
    </div>
</div>