<uib-accordion>
    <uib-accordion-group ng-repeat="item in fornecedores"
                         heading="Fornecedor: {{item.tx_nome_fornecedor}}"
                         panel-class="panel-primary bootstrap-panel accordion-panel">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-class="with-scroll">
                    <!--<div include-with-scope="app/pages/tabelaPrecos/widgets/tabelaPrecoTabelaEditavel.html"></div>-->


                    <table class="table" st-table="smartTableData">
                        <thead>
                        <tr class="sortable ">
                            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                            <th st-sort="firstName">Tabela</th>
                            <th st-sort="lastName">Serviço</th>
                            <th st-sort="age">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="itemTabela in item.tabela_preco">
                            <td class="table-id">{{$index+1}}</td>
                            <td>{{itemTabela.tx_nome_tabela_preco}}</td>
                            <td>{{itemTabela.tipo_servico.tx_tipo_servico}}</td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary editable-table-button btn-xs"
                                            ng-click="editarTabelaPreco(itemTabela.id_tabela_preco)">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger editable-table-button btn-xs"
                                            ng-click="deletarTabelaPreco(itemTabela.id_tabela_preco)">
                                        Apagar
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize"
                                     st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>