<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="cargo">Nome da Tabela de Preços</label>
            <input type="text" class="form-control" id="cargo" ng-model="tabelaPreco.tx_nome_tabela_preco">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="fornecedores">Fornecedores</label>
            <select class="form-control" title="Selecione o Estado" id="fornecedores" name="fornecedores"
                    ng-model="tabelaPreco.id_fornecedores">
                <option ng-repeat="itemF in fornecedores" value="{{itemF.id_fornecedores}}">
                    {{itemF.tx_nome_fornecedor}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tipoServico">Tipo de Serviço</label>
            <select class="form-control" title="Selecione o Estado" id="tipoServico" name="tipoServico"
                    ng-model="tabelaPreco.id_tipo_servico">
                <option ng-repeat="itemTS in tipoServico" value="{{itemTS.id_tipo_servico}}">
                    {{itemTS.tx_tipo_servico}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="valor">Valor (R$)</label>
            <input type="number" class="form-control" id="valor" ng-model="prodEditar.nr_valor" required>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="desconto">Percentual de Desconto (%)</label>
            <input type="number" class="form-control" id="desconto" ng-model="prodEditar.nr_percentagem_desconto"
                   required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="descricaoAtividades">Descrição dos Serviços</label>
            <textarea class="form-control" id="descricaoAtividades" name="descricaoAtividades"
                      ng-model="prodEditar.tx_descricao_servico">
            </textarea>
        </div>
    </div>
</div>

<br>
<div class="row">
    <button class="btn btn-primary" ng-click="adicionarProdutos(prod)">
        Salvar
    </button>
</div>
<br>

<div class="row">
    <div ba-panel ba-panel-title="Lista de produtos" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
            <table class="table" st-table="">
                <thead>
                <tr class="sortable ">
                    <th>Descrição do servico</th>
                    <th>Valor</th>
                    <th>Desconto</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in prod">
                    <td>{{item.tx_descricao_servico}}</td>
                    <td>{{item.nr_valor}}</td>
                    <td>{{item.nr_percentagem_desconto}}</td>
                    <td>
                        <div class="buttons" ng-show="item.nr_valor != null">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="editarProduto(item)">
                                Editar
                            </button>
                            <button class="btn btn-danger editable-table-button btn-xs" ng-click="deletarProduto(item.id_produtos)">
                                Apagar
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>