<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <uib-tabset active="$tabSetStatus.activeTab">
                    <uib-tab heading="Dados do Empreendimento">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/empreendimento-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Dados do Espaço">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/espaco-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Dados do Responsável">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/responsavel-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Tabelas de Preço">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/tabela-preco-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Crias Salas">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/salas-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Imagens">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/fotos-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>

</div>