<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <uib-tabset active="$tabSetStatus.activeTab">
                    <uib-tab heading="Dados do Empreendimento">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/empreendimento-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Dados do Espaço">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/espaco-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Dados do Responsável">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/responsavel-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                    </uib-tab>
                    <uib-tab heading="Tabelas de Preço">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/tabela-preco-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco, espaco.tabelaPreco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>
                        <br>
                        <div class="row">
                            <h4>Tabelas já cadastradas</h4>

                            <table class="table" st-table="smartTableData">
                                <thead>
                                <tr class="sortable ">
                                    <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                                    <th st-sort="firstName">Nome da Tabela</th>
                                    <th st-sort="lastName">Descrição dos Serviços</th>
                                    <th st-sort="age">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tb in tabelaPrecoEspaco">
                                    <td class="table-id">{{$index}}</td>
                                    <td>{{tb.tabela_preco.tx_nome_tabela_preco}}</td>
                                    <td>{{tb.tabela_preco.tx_descricao_servico}}</td>
                                    <td>
                                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="deletarEspacoTB(tb.tabela_preco.id_tabela_preco)">
                                            Apagar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </uib-tab>
                    <uib-tab heading="Crias Salas">
                        <div include-with-scope="app/pages/cadastros/espacos/widgets/salas-form.html"></div>
                        <ul class="pager ba-wizard-pager">
                            <li class="previous">
                                <button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">
                                    Cancelar
                                </button>
                            </li>
                            <li class="next">
                                <button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">
                                    Salvar
                                </button>
                            </li>
                        </ul>

                        <br>
                        <div class="row">
                            <h4>Salas já cadastradas</h4>
                            <div class="widgets">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div ba-panel ba-panel-title="Lista de salas" ba-panel-class="with-scroll">
                                            <div include-with-scope="app/pages/cadastros/espacos/widgets/sala-tabela.html"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </uib-tab>
                    <!--<uib-tab heading="Imagens">-->
                        <!--<div include-with-scope="app/pages/cadastros/espacos/widgets/fotos-form.html"></div>-->
                        <!--<ul class="pager ba-wizard-pager">-->
                            <!--<li class="previous">-->
                                <!--<button type="button" class=" btn btn-danger" onclick="window.history.go(-1); return false;">-->
                                    <!--Cancelar-->
                                <!--</button>-->
                            <!--</li>-->
                            <!--<li class="next">-->
                                <!--<button type="button" class="btn btn-primary" ng-click="editarEspaco(espaco)">-->
                                    <!--Salvar-->
                                <!--</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</uib-tab>-->

                </uib-tabset>
            </div>
        </div>
    </div>

</div>